*{
    margin: 0px;    
}

header h3{    
    margin: 10px;  
    font-style: italic;
    font-weight: 800;  
}
header h3 a{
    color: black;
}
header h3 a:hover{
    color: black;
    text-decoration: none;
}
header nav{
    float:right;
    margin-top: -55px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul a{
    color: black;
    font-size: 20px;    
}
nav ul a:hover{
    color: black;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: rgba(12, 86, 197, 0.658);
}
nav ul li{
    margin: 15px;    
}

.aspiring {
    top: 100px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dreamer span{
    font-size: 24px;
}
.kiruma p{
    font-size: 22px;
    margin-top: 80px;
}

