*{
    margin: 0px;    
}

header h3{    
    margin: 10px;  
    font-style: italic;
    font-weight: 800;  
}
header h3 a{
    color: black;
}
header h3 a:hover{
    color: black;
    text-decoration: none;
}
header nav{
    float:right;
    margin-top: -55px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul a{
    color: black;
    font-size: 20px;    
}
nav ul a:hover{
    color: black;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: rgba(12, 86, 197, 0.658);
}
nav ul li{
    margin: 15px;    
}

.aspiring {
    top: 100px;
    padding: 50px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.dreamer {
    text-transform: uppercase;
}
.about-text p {
    display: inline-block;
    width: 50%;
}
/* .about-image {
    width: 200px;
    img {
        width: 150px;
        height: 80px;
    }
} */
.about-image img {
    display: inline-block;
    width: 350px;
    vertical-align: top;
    /* @media (max-width: 425px) {
        width: 100%;
    } */
}
/* media queries */
