*{
    margin: 0px;    
}

header h2{    
    margin: 10px;  
    font-style: italic;
    font-weight: 800;      
}
header h2 a{
    color: black;
    font-size: 32px;
}
header h2 a:hover{
    color: black;
    text-decoration: none;
}
header nav{
    float:right;
    margin-top: -55px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul a{
    color: black;
    font-size: 20px;    
}
.ruma{
    color: black;
    font-size: 20px; 
    text-decoration: underline black;
}
nav ul a:hover, .ruma:hover{
    color: black;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: rgba(12, 86, 197, 0.658);
}
nav ul li{
    margin: 15px;    
}

.aspiring {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dreamer span{
    font-size: 24px;
}
.kiruma{
    font-size: 19px;
    margin-top: 80px;
}

.about-image img{
    padding: 10px;
}

.projos{
    padding-left: 15%;
    padding-right: 15%;
}

.headie{
    margin-bottom: 40px;
    font-weight: 700;
}

.haki{
    display: flex;
    justify-content: space-between;
}

.haki-desc p{
    margin-top: 30px;
    
}

.rumah{
    color: black;
    font-size: 19px; 
    text-decoration: underline black;
}
.rumah:hover{
    color: black;
    font-size: 19px;
    text-decoration: underline;
    text-decoration-color: rgba(12, 86, 197, 0.658);
}

.socials li{
    list-style: none;
    margin: 20px;
}

.socials ul{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}
footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
}

.setit p,li,a{
    font-size: 19px;
}